// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.slide-container {
    padding: 40px;
    background: #419be0;
    width: 60%;
    height: 500px;
    font-size: 20px;
    float: left;
    
}
ul {
    position: absolute;
    bottom: 0;
}
.slick-dots {
    bottom: 0;
}
input#chat {
    width: 300px;
}
.panel-body {
    float: right;
}
.comment-body {
    width: 50%;
    height: 70%;
    overflow: scroll;
}
td.user {
    color: green;
}
